html {
    position: relative;
    min-height: 100%;
}
body {
    margin-top:25px;
    margin-bottom: 80px;
}
table.table-shifts {
    table-layout: fixed;
    border-left:4px solid #dddddd !important;
}
.short {
    width:60px;
}
th {
    cursor: auto !important;
}
td.td-time {
    text-align: center;
    vertical-align: middle !important;
    height:70px;
    white-space:normal !important;
}
#table-edit tr td {
    vertical-align: middle !important;
}
td.td-user {
    position:relative;
}
.td-user-max {
    position: absolute; 
    bottom:4px; 
    right:4px; 
    font-size:10px; 
    color:#888 !important;
    width:16px;
    height: 16px;
    background: #eee; 
    -moz-border-radius: 9px; 
    -webkit-border-radius: 9px; 
    border-radius: 9px;
    text-align:center;
}
.td-comment {
    display:none;
}
.td-user .user-email {
    display: none;
}
.td-disabled {
    background-color: #eee;
}
.delete-user {
    width:20px;
    text-align: center;
}
.tr-debug {
    display:none;
}
.form-control {
    margin-top:5px;
    margin-bottom:15px;
}
.shift-disabled {
    cursor: not-allowed !important;
}
#save-loading, #loginProcessingIcon {
    display:none;
    width: 15px;
    margin-left:3px;
    margin-right:3px;
}
body > .container {
    padding: 60px 0px 30px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.text-muted {
    margin:20px;
}
.user-email {
    display:none;
}
.not-fixed-hint, .is-fixed-hint {
    font-size:12px;
}
.not-fixed-hint {
    color: rgba(255, 100, 0, 0.8);
}
.is-fixed-hint {
    color: rgba(28, 169, 0, 0.8);
}

@media (max-width:700px) {
    .plan-desktop {
        display: none;
    }
    .tab-pane {
        margin:10px;
        margin-top:20px;
    }
    .nav-tabs li
    {
        width:100%!important;
    }
}
@media (min-width:701px) {
    .plan-mobile {
        display: none;
    }
    .tab-pane {
        margin:25px;
    }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}