#	Felix Honer
#	2016/01/24
#	customer@felix-honer.com

Options +FollowSymlinks
RewriteEngine On
RewriteBase /planer/

DirectoryIndex index.php
RewriteRule ^js/(.*)\.js$ 			js/jsminify.php?filename=js/$1 [L]