body {
    margin-top:100px;
}
.table {
    font-size:100%;
}
td {
    vertical-align: middle !important;
}
.td-debug {
    display:none;
}
#loading {
    text-align:center; 
    margin-top:50px;
}
#loading img {
    width:50px;
}
.tr-shift-delete {
    cursor:pointer;
}
.worker-fixed {
    color: rgba(28, 169, 0, 1);
    font-size:10px;
}
.worker-not-fixed {
    color: rgba(255, 100, 0, 1);
    font-size:10px;
}