body {
    margin-top:100px;
}
.table {
    font-size:100%;
}
td {
    vertical-align: middle !important;
}
.td-debug {
    display:none;
}
#loading {
    text-align:center; 
    margin-top:50px;
}
#loading img {
    width:80px;
}
.tr-shift-delete {
    cursor:pointer;
}